#map-controls {
  display: grid;
  grid-template-columns:30px 50px 30px;
  grid-template-rows:30px 50px 30px; 
  padding: 5px;
  margin-left: 5px;
  top: 600px;
  z-index: 1;
  text-align: center;
  justify-items: center;
  position: fixed;
  font-size: 200px;
  align-items: center;
  
}

#map-controls button{
text-align: center;
height: 40px;
width: 40px;
font-size: 20px;
}

#N {
  grid-column: 2;
  grid-row: 1;
}

#S {
  grid-column: 2;
  grid-row: 3;
}

#E {
  grid-column: 3;
  grid-row: 2;
}

#W {
  grid-column: 1;
  grid-row: 2;
}

#map {
  height: 100%;
  width: 100%;
  position: fixed;
}

#info span {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  z-index: 1;
  display: block;
}

#info {
  position: fixed;
  z-index: 1;
  top: 110px;
  color: white;
}
