#map-controls {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
}

#N {
  grid-column: 2;
  grid-row: 1;
}

#S {
  grid-column: 2;
  grid-row: 3;
}

#E {
  grid-column: 3;
  grid-row: 2;
}

#W {
  grid-column: 1;
  grid-row: 2;
}

#map {
  height: 100%;
  width: 100%;
  position: fixed;
}
